/* Body */
body {
  position: absolute;
  gap: 5rem;
  margin: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* 📱 Phone Container */
.phone {
  width: 360px;
  height: 640px;
  background: #ece5dd;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  background: #075e54;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

/* Receiver */
.receiver {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: #128c7e;
  color: white;
}

.profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

/* Messages Area */
.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-image: url('https://wallpapers.com/images/hd/whatsapp-chat-background-fb34cc4b2hg9lmix.jpg');
  background-size: cover;
}

/* Common Message */
.message {
  padding: 8px 12px;
  margin: 5px;
  border-radius: 10px;
  max-width: 70%;
  width: fit-content;
  word-wrap: break-word;
}

/* 👤 Your message (RIGHT) */
.sent {
  background: #ffffff;
  margin-left: auto;
  text-align: right;
}

/* 👥 Receiver message (LEFT) */
.received {
  background: rgb(186, 255, 174);
  margin-right: auto;
  text-align: left;
}

/* Input Area */
.sender-field {
  display: flex;
  padding: 8px;
  background: #f0f0f0;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

button {
  margin-left: 8px;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background: #25d366;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1ebe5d;
}

.room{
  height: 5rem;
  width: 20rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #3b3737;
  margin-left: 1rem;
  padding: 1rem;
}

.roomID{
  height: 1rem;
  width: auto;
}

.roomButton{
  height:3rem;
}